
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: red;
    background: #efeee7;
  } 

header {
    background: blueviolet;
  }

.col-md-12{
    color: black;
    text-align: center;
}

h2 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: black;
    text-align: center;
  }

  /* h2 {
    font-size: 24px;
  } */
  
  a {
    color: #d21034;
  }
  
  /* Selecting elements by class */
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  /* Selecting elements by ID */
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #figure {
    position: relative;
  }
  
  #bio-name {
    position: absolute;
    top: 150px;
    left: 30px;
  }
  
  #main-bio {
    width: 70%;
  }
  
  table {
    text-align: right;
    width: 500px;
  }
  
  #mars-image {
    width: 500px;
    height: 500px;
    margin-right: 20px;
  }

  .images {
    width: 500px;
    height: 500px;
    margin-right: 20px;
  }